// ==========================
// App Main View Animations
// ==========================

$WIDTH_START_LA: 6px;
$WIDTH_END_LA: 12px;
$BG_COLOR_START_LA: #eee;
$BG_COLOR_END_LA: #555;
$BORDER_COLOR_START_LA: #555;
$BORDER_COLOR_END_LA: #555;
$MARGIN_EL_LA: 1px;
$TY_START_LA: 0;
$TY_END_LA: -10px;

$ANIM_NAME_LA: loading_anim;
$ANIM_DURATION_LA: 1s;

.ctn_loading {
    text-align: center;
    width: $WIDTH_END_LA * 3 + $MARGIN_EL_LA * 6;
    height: $WIDTH_END_LA * 2;

    .el_loading {
        width: $WIDTH_START_LA;
        height: $WIDTH_START_LA;
        margin: 10px $MARGIN_EL_LA;
        background: $BG_COLOR_START_LA;
        -moz-animation: $ANIM_NAME_LA $ANIM_DURATION_LA infinite alternate;
        -webkit-animation: $ANIM_NAME_LA $ANIM_DURATION_LA infinite alternate;
        -ms-animation: $ANIM_NAME_LA $ANIM_DURATION_LA infinite alternate;
        animation: $ANIM_NAME_LA $ANIM_DURATION_LA infinite alternate;
        border-radius: $WIDTH_END_LA * 2;
        @include inline-block();
    }

    .el_loading_1 {
        -moz-animation-delay: 0s;
        -webkit-animation-delay: 0s;
        -ms-animation-delay: 0s;
        animation-delay: 0s;
    }

    .el_loading_2 {
        -moz-animation-delay: 0.39s;
        -webkit-animation-delay: 0.39s;
        -ms-animation-delay: 0.39s;
        animation-delay: 0.39s;
    }

    .el_loading_3 {
        -moz-animation-delay: 0.78s;
        -webkit-animation-delay: 0.78s;
        -ms-animation-delay: 0.78s;
        animation-delay: 0.78s;
    }
} // End .ctn_loading

@-moz-keyframes $ANIM_NAME_LA {
    0% {
        width: $WIDTH_START_LA;
        height: $WIDTH_START_LA;
        background-color: $BG_COLOR_START_LA;
        border-color: $BORDER_COLOR_START_LA;
        -moz-transform: translateY($TY_START_LA);
    }

    100% {
        width: $WIDTH_END_LA;
        height: $WIDTH_END_LA;
        background-color: $BG_COLOR_END_LA;
        border-color: $BORDER_COLOR_END_LA;
        -moz-transform: translateY($TY_END_LA);
    }
}

@-webkit-keyframes $ANIM_NAME_LA {
    0% {
        width: $WIDTH_START_LA;
        height: $WIDTH_START_LA;
        background-color: $BG_COLOR_START_LA;
        border-color: $BORDER_COLOR_START_LA;
        -webkit-transform: translateY($TY_START_LA);
    }

    100% {
        width: $WIDTH_END_LA;
        height: $WIDTH_END_LA;
        background-color: $BG_COLOR_END_LA;
        border-color: $BORDER_COLOR_END_LA;
        -webkit-transform: translateY($TY_END_LA);
    }
}

@keyframes $ANIM_NAME_LA {
    0% {
        width: $WIDTH_START_LA;
        height: $WIDTH_START_LA;
        background-color: $BG_COLOR_START_LA;
        border-color: $BORDER_COLOR_START_LA;
        transform: translateY($TY_START_LA);
    }

    100% {
        width: $WIDTH_END_LA;
        height: $WIDTH_END_LA;
        background-color: $BG_COLOR_END_LA;
        border-color: $BORDER_COLOR_END_LA;
        transform: translateY($TY_END_LA);
    }
}
