/* line 6, ../../sass/App/Nba/Nba.scss */
.nba {
  min-width: 100%;
  min-height: 100%;
}
/* line 10, ../../sass/App/Nba/Nba.scss */
.nba .top {
  order: 1;
  flex: 1;
  align-self: auto;
  min-width: 100%;
  min-height: 40px;
  max-height: 40px;
  padding: 0 10px;
  box-sizing: border-box;
}
/* line 20, ../../sass/App/Nba/Nba.scss */
.nba .top .base_path_ctn {
  order: 1;
  flex: 1;
  min-width: 0;
}
/* line 25, ../../sass/App/Nba/Nba.scss */
.nba .top .base_path_ctn .label {
  order: 1;
  flex: 0;
  min-width: 4.7em;
}
/* line 31, ../../sass/App/Nba/Nba.scss */
.nba .top .base_path_ctn .selector_ctn {
  order: 2;
  flex: 1;
}
/* line 35, ../../sass/App/Nba/Nba.scss */
.nba .top .base_path_ctn .selector_ctn .selector {
  width: 98%;
  height: 2em;
  padding-left: 4px;
}
/* line 42, ../../sass/App/Nba/Nba.scss */
.nba .top .base_path_ctn .generate_btn_ctn {
  order: 3;
  flex: 0;
  min-width: 10em;
}
/* line 49, ../../sass/App/Nba/Nba.scss */
.nba .top .opts_btn_ctn {
  order: 2;
  flex: 0;
  min-width: 32px;
}
/* line 55, ../../sass/App/Nba/Nba.scss */
.nba .top .opts_btn {
  width: 32px;
  height: 32px;
  background: white;
  cursor: pointer;
}
/* line 63, ../../sass/App/Nba/Nba.scss */
.nba .middle {
  order: 2;
  flex: 1;
  min-width: 100%;
  min-height: 250px;
  margin-top: -18px;
  font-family: Tahoma, Times, 'Times New Roman';
  cursor: pointer;
}
/* line 72, ../../sass/App/Nba/Nba.scss */
.nba .middle .random_num_ctn {
  padding: 0 10px 10px 8px;
}
/* line 76, ../../sass/App/Nba/Nba.scss */
.nba .middle .random_num_ctn.is_history {
  border: 1px solid #eee;
  background-color: #666;
  color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 83, ../../sass/App/Nba/Nba.scss */
.nba .middle .random_num {
  font-size: 10.625em;
}
/* line 88, ../../sass/App/Nba/Nba.scss */
.nba .middle .separator,
.nba .middle .range_max_num {
  font-size: 4em;
}
/* line 92, ../../sass/App/Nba/Nba.scss */
.nba .middle .random_path_ctn {
  margin-top: 10px;
  border: 1px solid #ddd;
  background-color: #fefefe;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 99, ../../sass/App/Nba/Nba.scss */
.nba .middle .random_path_ctn .random_path_temp,
.nba .middle .random_path_ctn .random_path {
  font-size: 0.6875em;
  color: #fefefe;
  font-family: Tahoma, Times, 'Times New Roman';
}
/* line 105, ../../sass/App/Nba/Nba.scss */
.nba .middle .random_path_ctn .random_path {
  display: none;
  color: #888;
  padding: 0;
  border: 0;
  outline: 0;
  padding: 6px;
  background-color: transparent;
}
/* line 117, ../../sass/App/Nba/Nba.scss */
.nba .bottom {
  order: 3;
  flex: 1;
  justify-content: flex-start;
  min-width: 0;
  border-top: 1px solid #eee;
  padding-top: 5px;
}
/* line 125, ../../sass/App/Nba/Nba.scss */
.nba .bottom .history_ctn {
  padding: 0 6px;
}
/* line 128, ../../sass/App/Nba/Nba.scss */
.nba .bottom .history_ctn .label {
  text-align: center;
}
/* line 132, ../../sass/App/Nba/Nba.scss */
.nba .bottom .history_ctn .nb_random_num {
  margin-left: 10px;
}
/* line 136, ../../sass/App/Nba/Nba.scss */
.nba .bottom .history_ctn .clear_btn {
  margin-left: 12px;
}
/* line 141, ../../sass/App/Nba/Nba.scss */
.nba .bottom .histories {
  margin-top: 5px;
}
/* line 146, ../../sass/App/Nba/Nba.scss */
.nba .ctn_loading {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 550;
  text-align: center;
  width: 32px;
  height: 20px;
}
/* line 156, ../../sass/App/Nba/Nba.scss */
.nba .ctn_loading .el_loading {
  width: 4px;
  height: 4px;
  margin: 10px auto;
  background: #aaaaaa;
  -moz-animation: loading_anim 1.3s infinite alternate;
  -webkit-animation: loading_anim 1.3s infinite alternate;
  -ms-animation: loading_anim 1.3s infinite alternate;
  animation: loading_anim 1.3s infinite alternate;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 169, ../../sass/App/Nba/Nba.scss */
.nba .ctn_loading .el_loading_1 {
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}
/* line 176, ../../sass/App/Nba/Nba.scss */
.nba .ctn_loading .el_loading_2 {
  -moz-animation-delay: 0.39s;
  -webkit-animation-delay: 0.39s;
  -ms-animation-delay: 0.39s;
  animation-delay: 0.39s;
}
/* line 183, ../../sass/App/Nba/Nba.scss */
.nba .ctn_loading .el_loading_3 {
  -moz-animation-delay: 0.78s;
  -webkit-animation-delay: 0.78s;
  -ms-animation-delay: 0.78s;
  animation-delay: 0.78s;
}

@-moz-keyframes loading_anim {
  /* line 193, ../../sass/App/Nba/Nba.scss */
  0% {
    width: 4px;
    height: 4px;
    background-color: #aaaaaa;
    -moz-transform: translateY(0);
  }

  /* line 200, ../../sass/App/Nba/Nba.scss */
  100% {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    -moz-transform: translateY(-8px);
  }
}

@-webkit-keyframes loading_anim {
  /* line 209, ../../sass/App/Nba/Nba.scss */
  0% {
    width: 4px;
    height: 4px;
    background-color: #aaaaaa;
    -webkit-transform: translateY(0);
  }

  /* line 216, ../../sass/App/Nba/Nba.scss */
  100% {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    -webkit-transform: translateY(-8px);
  }
}

@-ms-keyframes loading_anim {
  /* line 225, ../../sass/App/Nba/Nba.scss */
  0% {
    width: 4px;
    height: 4px;
    background-color: #aaaaaa;
    -ms-transform: translateY(0);
  }

  /* line 232, ../../sass/App/Nba/Nba.scss */
  100% {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    -ms-transform: translateY(-8px);
  }
}

@keyframes loading_anim {
  /* line 241, ../../sass/App/Nba/Nba.scss */
  0% {
    width: 4px;
    height: 4px;
    background-color: #aaaaaa;
    transform: translateY(0);
  }

  /* line 248, ../../sass/App/Nba/Nba.scss */
  100% {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    transform: translateY(-8px);
  }
}
