
html, body {
    height: 100%;
}

.flex_col, .flex_row {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.flex_col {
    flex-flow: column nowrap;
}

.flex_row {
    flex-flow: row nowrap;
}


/**
 * jQuery-UI Button overrides
 */
.small .ui-button-text {
    padding: 0.15em 0.3em;
}
