// Compass mixins
// --------------

@mixin inputText {
    border: 1px solid #ddd;
    background-color: #fefefe;
    border-radius: 3px;
}

.top {
    order: 1;
    flex: 1;
    align-self: auto;
    min-width: 100%;
    min-height: 80px;
    max-height: 80px;
    padding: 0 10px;
    box-sizing: border-box;

    .base_path_ctn {
        order: 1;
        flex: 1;
        min-width: 100%;

        .label {
            order: 1;
            flex: 0;
            min-width: 4.7em;
        }

        .base_path_input_ctn {
            order: 2;
            flex: 1;
        }

        .base_path_input {
            width: 98%;
            height: 2em;
            padding-left: 4px;
            @include inputText();
        }

        .generate_btn_ctn {
            order: 3;
            flex: 0;
            min-width: 100px;
            padding-left: 8px;
        }
    } // End .base_path_ctn

    .rep_path_ctn {
        order: 2;
        flex: 1;
        min-width: 100%;

        .label {
            order: 1;
            flex: 0;
            min-width: 8em;
        }

        .rep_path_input_ctn {
            order: 2;
            flex: 1;
        }

        .rep_path_input {
            width: 100%;
            height: 2em;
            padding-left: 4px;
            @include inputText();
        }
    } // End .rep_path_ctn

    .opts_btn_ctn {
        order: 2;
        flex: 0;
        min-width: 32px;
        display: none;
    }

    .opts_btn {
        width: 32px;
        height: 32px;
        background: white;
        cursor: pointer;
    }
} // End .top

.middle {
    order: 2;
    flex: 1;
    min-width: 100%;
    min-height: 250px;
    margin-top: -18px;
    font-family: Tahoma, Times, 'Times New Roman';
    cursor: pointer;

    .random_num_ctn {
        padding: 0 10px 10px 8px;
    }

    .random_num_ctn.is_history {
        border: 1px solid #eee;
        background-color: #666;
        color: #fff;
        border-radius: 10px;
    }

    .random_num {
        font-size: 10.625em;
    }

    .separator,
    .range_max_num {
        font-size: 4em;
    }

    .random_path_ctn {
        margin-top: 10px;
        @include inputText();

        .random_path_temp,
        .random_path {
            font-size: 0.6875em;
            color: #fefefe;
            font-family: Tahoma, Times, 'Times New Roman';
        }

        .random_path {
            display: none;
            color: #888;
            padding: 0;
            border: 0;
            outline: 0;
            padding: 6px;
            background-color: transparent;
        }
    } // End .random_path_ctn
} // End .middle

.bottom {
    order: 3;
    flex: 1;
    justify-content: flex-start;
    min-width: 0;
    border-top: 1px solid #eee;
    padding-top: 5px;

    .history_ctn {
        padding: 0 6px;

        .label {
            text-align: center;
        }

        .nb_random_num {
            margin-left: 10px;
        }

        .clear_btn,
        .folder_name_btn {
            margin-left: 12px;
        }
    } // End .history_ctn

    .histories {
        margin-top: 5px;
    }
} // End .bottom

.ctn_loading {
    display: none;
    float: right;
    margin-top: -23px;
    margin-right: 3%;
} // End .ctn_loading
